@media screen{
body {
/* ---------------------------------------
Note that background-related pieces of
information are defined in the INI file.
This is because they are used to tell test
servers from production servers
------------------------------------------ */
    font-size: large;
    font-family:  Verdana, Kalimati, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
    margin: 1em;
}
th, td {
    padding: 5px 10px;
}
th {
    text-align: left;
}
div#my-logo a {
    float: left;
    margin-bottom: 20px;
}
div#my-logo h1 {
    margin: 0em;
    margin-top: 10px;
    padding: 0 10px 0 0.5em;
    float: left;
    font-size: xx-large;
}

div.h_tag h1 {
    margin: 0em;
    margin-top: 10px;
    padding: 0 10px 0 0;
    float: none;
    font-size: xx-large;
}

h2 {
   clear: both;
   font-size: x-large;
}
h1, h2, h3, h4, h5, h6 {
    color: #424242;
}

h3, h4, h5 {
    font-size: medium;
}
#logo {
    width: 64px;
    height:     64px;
}
tbody tr:nth-child(even) {
    background-color: #F0F0F0;
}
tbody tr:nth-child(odd) {
    background-color: #FAFAFA;
}
th {
    background-color: #E6E6E6;
    color: #424242;
}
table {
    border: silver 1px solid;
}
code , code a {
    font-size: large;
    font-family: APLFont, monospace;
    background-color: #E6E6E6;
    color: #A30000;
}
#my-footer > hr {
    margin-top: 2em;
    margin-bottom: 0;
}
#my-footer > p {
    font-size: small;
    margin-top: 0;
    margin-left: 2px;
}
pre {
    border: 1px silver dashed;
    background-color: #F2F2F2;
    font-size: large;
    margin: 0.5em 2em 0.5em 0.2em;
    padding: 0.5em;
    font-family: APLFont, monospace;
}
ul li, ol li {
    margin: 0.7em 0.2em;
}
.button {
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  margin: 0.1em 0em;
  cursor: pointer;
  background-color: #4CAF50;    /* Green */
  border-radius: 12px;
}

form#create-group-homepage input{
    margin-bottom: 1em;
}

input, select, textarea, button {
    font-size: inherit;
    font-family: inherit;
}

.tab {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
 }

 /* Style the buttons that are used to open the tab content */

 .tab button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
   font-size: 1em;
 }


.button, input[type="submit"] {
   font-size: 1.2em; padding: 3px 12px;
   font-family: Roboto, sans-serif;
   font-weight: 300;
   color: teal;
   border: 1px solid silver;
   background-image: linear-gradient(to top, gainsboro 0%, white 90%);
   border-radius: 10px;
   padding-left: 3em;
   padding-right: 3em;
}


 /* Change background color of buttons on hover */
 .tab button:hover {
   background-color: #ddd;
 }

 .tab button.active {
   background-color: #ccc;
 }

 /* Style the tab content */
 .tabcontent {
   display: none;
   padding: 6px 12px;
   border: 1px solid #ccc;
   border-top: none;
 }
 #data-table {
  font-size: large;
   font-weight: normal;
   font-family: monospace;
 }

 label {
     font-size: 0.75em !important;
 }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  width: 100%; min-width: 100%;
  box-sizing: border-box;
  padding: 4px;
  outline: none;
  border-radius: 6px;
  border: 2px solid silver;
}

::placeholder {
    opacity:1;
    transition: opacity 1s;
}

:focus::placeholder { opacity:0  }

a.mailto_link::before {content:" ✉"}
@font-face {
        font-family: "APLFont";
    src:
        local("APL385 Unicode"),
        url("https://misc.aplteam.com/apl385.ttf") format("truetype");
}

.install-info {
    position: relative;
    max-width: 300px;
    height: auto;
    border: 2px solid gray;
    background-color: #FAEBD7;
    margin: 10px 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    float: right;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}