aplcore
/Dist/
CONTINUE.dws
conga.crash
core.*

/packages/*
!/packages/apl-dependencies.txt
!/packages/apl-buildlist.json

/GitHub-personal-token.txt

/TestData/tatin-client.json

**/.DS_Store
/docs/site/
/.venv/