# Auto detect text files
* text=auto

*.aplf linguist-language=apl
*.aplo linguist-language=apl
*.aplc linguist-language=apl
*.apln linguist-language=apl
*.apli linguist-language=apl
*.dws linguist-language=apl
*.dyapp linguist-language=apl

# Exclude these:
Dist/ linguist-vendored=true
CSS/ linguist-vendored=true
Docs/ linguist-vendored=true
Testcases/ linguist-vendored=true
*.js linguist-vendored=true
*.html/ linguist-vendored=true
*.iss/ linguist-vendored=true