# Auto detect text files
* text=auto

*.aplf linguist-language=apl
*.aplo linguist-language=apl
*.aplc linguist-language=apl
*.apln linguist-language=apl
*.apli linguist-language=apl
*.dyapp linguist-language=apl
*.dyalog linguist-language=apl
*.dws linguist-language=apl

# Exclude these:
CSS/ linguist-vendored=true
/Testcases/ linguist-vendored=true
*.js linguist-vendored=true
*.iss/ linguist-vendored=true

docs/ linguist-vendored=true
html/ linguist-vendored=true
*.html/ linguist-documentation=true
*.md/ linguist-documentation=true