{  CIDER: {    cider_version: "0.41.1",    dependencies: {      nuget: "",      tatin: "",    },    dependencies_dev: {      tatin: "",    },    distributionFolder: "Dist",    init: "Admin.SetDevelopment",    make: "Admin.Make 0",    parent: "#",    projectSpace: "Tatin",    project_url: "https://github.com/aplteam/Tatin",    source: "APLSource",    tests: "TestCases.RunTests",  },  LINK: {  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {    MinimumAplVersion: "18.2",  },}