{
  CIDER: {
    dependencies: {
      nuget: "",
      tatin: "",
    },
    dependencies_dev: {
      tatin: "",
    },
    distributionFolder: "Dist",
    init: "Admin.SetDevelopment",
    make: "Admin.Make 0",
    parent: "#",
    projectSpace: "Tatin",
    project_url: "https://github.com/aplteam/Tatin",
    source: "APLSource",
    tests: "TestCases.RunTests",
  },
  LINK: {
    codeExtensions: [
      "apla",
      "aplf",
      "aplo",
      "apln",
      "aplc",
      "apli",
      "dyalog",
      "apl",
      "mipage",
    ],
    fastLoad: 1,
    forceFilenames: 1,
    watch: "ns",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
    MinimumAplVersion: "18.0",
  },
}
