// This file is required by the function #.Tatin.Admin.UpdatePackages which updates
// all packages defined within this file when called.
{
  Client: [
    "APLTreeUtils2",
    "DotNetZip",
    "FilesAndDirs",
    "OS",
  ],
  Development: [
    "APLProcess",
    "APLTreeUtils2",
    "CodeCoverage",
    "FilesAndDirs",
    "MarkAPL",
    "OS",
    "Tester2",
  ],
  Server: [
    "APLTreeUtils2",
    "DotNetZip",
    "FilesAndDirs",
    "HandleError",
    "IniFiles",
    "Logger",
    "OS",
    "WindowsEventLog",
    "SMTP",
  ],
}