@font-face {
  font-family: 'Be Vietnam Pro', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

:root {
  --md-text-font: "Be Vietnam Pro";
}

.table-bordered {
    border-collapse: collapse;
    width: 85%;
    margin: auto;
    font-size: .64rem;
}
.table-bordered th,
.table-bordered td {
    border: 1px light gray;
    padding: 5px;
}
.table-bordered th.no-border,
.table-bordered td.no-border {
    border: none;
}
.table-bordered th {
    text-align: center;
}
.table-bordered td.rowspan,
.table-bordered th.rowspan {
    vertical-align: middle;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-between span {
    flex: 1;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.shaded {
  background-color: rgb(220, 220, 220); /* Light grey background */
}

.md-typeset code {
	word-break: normal !important;
    overflow-wrap: break-word !important;
}
