@font-face {
	font-family: APL;
	src: local("APL385 Unicode"), url("../assets/apl385.ttf");
}
.language-APL {
	font-family: APL!important;
	line-height: 1.2em!important;
}
code {
	font-family: APL;
}
@media screen and (max-width: 76.1875em) {
	.md-logo > img{
		width: 10rem!important;
		height: 1.8rem!important;
	}
}
/*
	Dyalog palette
	#FF6A13   rgba(256,106,19,1)    Retina Searing Orange
	#8986CA   rgba(137,134,202,1)   Retina Soothing Lavender
	#003B5C   rgba(0,59,92,1)       Midnight
	#2A3244   Gunmetal
	#FFA300   rgba(255,163,0,1)     Orange Peel
	#CA2D51   Dragonfruit
	#F2F1F0   Lotion
	#232222   Raisin
*/
/* Custom colors */
:root {
	--md-primary-fg-color: rgb(0,89,138); /* Midnight × 1.5*/
	--md-accent-fg-color: rgb(256,106,19); /*Retina Searing Orange*/
	--md-syntax-fg-color: rgb(81,18,32); /*Dragonfruit x .4*/
	--md-code-bg-color: var(--md-primary-bg-color);

}
/*	--md-primary-bg-color: #F2F1F0; /*Lotion*/
/*	--md-primary-fg-color--dark: #563336;*/
/* Code copy only input (see CONTRIBUTING.md) */
/*:root {
.md-typeset .admonition.abstract,
.md-typeset details.abstract {
  border-color: rgba(255,163,0,.3);
}
.md-typeset .abstract > .admonition-title,
.md-typeset .abstract > summary {
  background-color: rgba(255,163,0,.1);
}
*/pre + pre > button, pre + hr {
    display: none!important;
}
pre > code {
    padding-bottom: 1em!important;
}
hr + pre > button {
    top: -0.2em!important;
}
pre + pre , hr + pre {
    margin-top: -1.8em!important;
}
pre + pre > code, hr + pre > code {
    padding-top: 0.2em!important;
}
/*no bg for inline code*/
.md-typeset details summary code,
.md-typeset dd code,
.md-typeset dt code,
.md-typeset h1 code,
.md-typeset h2 code,
.md-typeset h3 code,
.md-typeset h4 code,
.md-typeset p code {
	background-color: inherit;
	box-shadow: none;
}
/* reverse out .85em size from theme */
.md-typeset code {
	font-size: inherit;
}
.md-typeset a {
	border-bottom: 2px dotted rgba(0,0,0,.3);
}
.md-typeset a.footnote-ref,
.md-typeset label a {
	border-bottom: none;
}

.typewriter {
	font-family: APL;
	margin-left: 1em;
	white-space: preserve;
}
